/* colour palette */
:root{
  --nav-color: rgb(56, 56, 56);
  --text-color:rgb(56, 56, 56);
  --box-color: rgba(192, 222, 227, 0.875);
  --background-color: rgb(220, 220, 220);
  --box-outline-color:rgb(125, 178, 187);
  --box-highlight-color:rgba(152, 235, 249, 0.567);
  --main-text-color: rgb(69, 111, 118);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* SECTION: navigation bar */
nav {
  display: flex;
  align-items: center;
  background-color: rgb(56, 56, 56);
  padding: 20px;
}

/* forces the nav list items onto one line */
header nav ul {
  display: inline-block;
  margin-left: 25px;
}

.right {
  display: flex;
  align-items: right;
  float:right;
  gap:20px;
  margin-left: auto;
  margin-right: 20px;
}

.right ul {
  list-style: none;
}

.right a:hover {
  color:var(--text-color);
  background-color: var(--box-color);
}

.right a {
  text-decoration: underline;
  color: var(--box-color);
  font-size: 30px;
  transition: background-color 0.5s, color 0.5s;
  padding: 10px;
}

h1 {
  background-color: var(--box-color);
  padding: 20px;
  color: var(--nav-color);
  font-size: 50px;
}


/* SECTION: banner photo */

.hero-banner {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:relative;
}

#banner-img {
  height:auto;
  width: 100%; 
  display: block;
  margin: 0 auto;
}

/* Style for the text overlay */
.hero-banner h2 {
  position: absolute;
  bottom: 10%;
  right: 1%;
  z-index: 2;
  color: var(--text-color);
  background: var(--box-color);
  padding: 10px 20px;
  font-size: 26px;
}

/* SECTION main */
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

/* Style for each section */
.page-section { 
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* Style for the left (heading) column */
.section-left {
  flex: 0 0 25%; 
  padding: 10px;
  border: 20px solid #ddd;
  border-style: none;
  border-right-style: groove;
  border-right-color: var(--box-color);
  text-align: right;
  margin-right: 2.5%;
  font-size: 28px; 
  display:flex;
  height: 100%;
}

.section-left h2 {
  margin-right: 10%;
  height: 100%;
  flex: 1;
}

/* Style for the right (content) column */
.section-right {
  flex: 1;
  padding: 25px;
  font-size: 24px;
  width: 65%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* SUB-SECTION About Me */

#me-jpg {
  height: 100%;
  max-width: 20%;
  float: right;
  min-width: 200px;
}

/* SUB-SECTION Work */
#work-grid {
  margin: 0px 1%;
  display: grid;
  grid-template-rows: 400px 400px 400px 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "marketing-agency marketing-agency"
  "marketing-agency marketing-agency"
  "project2 project3"
  "project4 project5"
  ;
}

#marketing-agency {
  grid-area: marketing-agency;
  background-image: url("../images/marketing-agency.jpg");
}

#project2 {
  grid-area: project2;
  background-image: url("../images/laptop.jpg");
}

#project3 {
  grid-area: project3;
  background-image: url("../images/van.jpg");
}

#project4 {
  grid-area: project4;
  background-image: url("../images/window.jpg");
}

#project5 {
  grid-area: project5;
  background-image: url("../images/mountain.jpg");
}

.grid-area:hover{
  box-shadow: 0 0 0px 500px var(--box-highlight-color) inset;
}

.grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
  display: grid;
  align-content: end;
  border: 5px;
  border-style: solid;
  border-color: var(--box-outline-color);
  text-decoration: none;
}

.grid-text {
  background-color: var(--box-outline-color);
  padding: 15px;
  height: 120px;
  width:400px;
  margin-bottom: 45px;
  max-width: 50%;
}

.grid-header {
  color: var(--text-color);
  font-size: 36px;
}

.grid-area p {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom:0px;
}

/* SUB-SECTION Contact Me */
#contactme a {
  padding: 10px;
}

#contactme ul {
  list-style: none;
  display: flex;
  padding: 0;
}

#contactme ul li{
  margin-right: 10%;
}

#contactme ul li a{
  text-decoration: none;
  color: var(--main-text-color);
  padding: 10px;
  transition: background-color 0.5s, color 0.5s;
}

#contactme ul li a:hover {
  color:white;
  background-color: var(--main-text-color);
}

/* SUB-SECTION CV */


/* MEDIUM SCREEN */

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }

  #work-grid {
    margin: 0px 1%;
    display: grid;
    grid-template-rows: 400px 400px 400px 400px 400px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "marketing-agency"
    "project2" 
    "project3"
    "project4" 
    "project5"
    ;
  }

  .grid-header {
    font-size: 20px;
  }

  .grid-area p {
    font-size: 14px;
  }

  .right a {
    font-size: 18px;
    padding: 5px;
  }

  h1{ 
    font-size:30px;
  }

  .hero-banner h2 {
    font-size: 18px;
  }

  .section-left {
    font-size: 20px;
  }

  .section-right {
    font-size: 16px;
  }

}

/* SMALL SCREEN */
@media only screen and (max-width: 600px) {
  .right {
    display:list-item;
    list-style: none;
  }

  .page-section{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "section-left"
    "section-right"
    ;
  }

  .section-left{
    grid-area: section-left;
    text-align: center;
  }

  .section-right{
    grid-area: section-right;
  }

  #aboutme .section-right{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "me-jpg"
    "aboutmetext"
    ;
  }

  #aboutmetext {
    grid-area: aboutmetext;
  }

  #me-jpg{
    grid-area: me-jpg; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section-right {
    width:100%;
  }

}